{% extends 'inventory/base.html' %}

{% block title %}Car Compare{% endblock %}

{% block content %}
<h2>Car Comparison</h2>

{% if error %}
    <p>{{ error }}</p>
{% else %}
    {% if cars %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    {% for car in cars %}
                        <th>{{ car.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Brand</td>
                    {% for car in cars %}
                        <td>{{ car.brand }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Year</td>
                    {% for car in cars %}
                        <td>{{ car.year }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Price</td>
                    {% for car in cars %}
                        <td>Ksh {{ car.price }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Average Rating</td>
                    {% for car in cars %}
                        <td>{{ car.average_rating }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>Description</td>
                    {% for car in cars %}
                        <td>{{ car.description }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
        <p>No cars selected for comparison.</p>
    {% endif %}
{% endif %}
<a href="{% url 'car_list' %}" class="btn btn-secondary">Back to Cars</a>
{% endblock %}