{% extends 'inventory/base.html' %}

{% block content %}
<h2>Your Favorite Cars</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Year</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>
        {% for car in favorites %}
        <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>Ksh {{ car.price }}</td>
            <td>
                <a href="{% url 'remove_from_favorites' car.id %}" class="btn btn-danger">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'car_list' %}" class="btn btn-secondary">Back to Car List</a>
{% endblock %}