{% extends 'inventory/base.html' %}

{% block content %}
<h1>Your Favorite Cars</h1>
{% if favorite_cars %}
    <ul>
        {% for car in favorite_cars %}
            <li>{{ car.name }} - {{ car.brand }} </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have not added any favorite cars.</p>
{% endif %}
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Year</th>
            <th>Price</th>
        </tr>
    </thead>
     <tbody>
        {% for car in favorites %}
        <tr>
            <td>{{ car.name }}</td>
            <td>{{ car.brand }}</td>
            <td>{{ car.year }}</td>
            <td>${{ car.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>